{% extends 'base.html' %}
{% block title %}Edit Movie{% endblock %}
{% block content %}
<!-- page header -->
    <div class="container page-container">
        <div class="col-md-10 col-lg-8 m-auto p-5">
            <form action="{% url "edit_movie" movie.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-success">Update</button>
            </form>
            <form action="{% url "delete_movie" movie.id %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}