{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<!-- page header -->
    <header class="header" style="background-image: url({% static 'movies/imgs/header.jpg'%});">
        <div class="overlay"></div>
        <div class="header-content">
            <h1 class="header-title">What Happens Tomorrow?</h1>
            <p class="header-subtitle">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt.</p>

            <button class="btn btn-theme-color modal-toggle"><i class="ti-control-play text-danger"></i> Watch Video</button>

        </div>
    </header><!-- end of page header -->

    <!-- modal -->
    <div class="modalBox">
        <div class="modalBox-body">
            <iframe width="100%" height="450px" class="border-0"
            src="https://www.youtube.com/embed/tgbNyZ7vqY?controls=0">
            </iframe>
        </div>
    </div><!-- end of modal -->

    <!-- page container -->
    <div class="container page-container">
        <div class="col-md-10 col-lg-8 m-auto">
            <h6 class="title mb-4">IMDb</h6>
            <p class="mb-5">IMDb is the world`s most popular and authoritative source for movie,TV and celebrity content.<br>
                find rating and reviews for the newest movie and TV shows.
            </p>
        </div>

        <!-- row -->
        <div class="row mb-4">
            {% for movie in movies %}
            <div class="col-md-4">
                <a href="{% url 'movie_detail' movie.id %}" class="overlay-img">
                    {% if movie.avatar %}
                    <img src="{{ movie.avatar.url }}" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    {% else %}
                    <img src="#" alt="Download free bootstrap 4 landing page, free boootstrap 4 templates, Download free bootstrap 4.1 landing page, free boootstrap 4.1.1 templates, weber Landing page">
                    {% endif %}
                    <div class="overlay"></div>
                    <div class="des">
                        <h1 class="title">{{ movie.title }}</h1>
{#                        <h6 class="subtitle">magna aliqua</p>#}
                        <p></p>
                    </div>
                </a>
            </div>
            {% endfor %}


        </div><!-- end of row -->
        {% if user.is_authenticated %}
        <a href="{% url 'add_movie' %}"><button type="button" class="btn btn-primary">If do you like to add your favorite movie<br>So,Click Here</button></a>
        {% else %}
        <a href="{% url 'login' %}"><button type="button" class="btn btn-primary">If do you like to add your favorite movie<br>So,Click Here</button></a>
        {% endif %}
    </div> <!-- end of page container -->
{% endblock %}