{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Start your development with Dorang landing page.">
    <meta name="author" content="Devcrud">
    <title>{% block title %}IMDb{% endblock %}</title>
    <!-- font icons -->
    <link rel="stylesheet" href="{% static 'movies/vendors/themify-icons/css/themify-icons.css' %}">

    <!-- Bootstrap + Dorang main styles -->
    {#	<link rel="stylesheet" href="{% static 'movies/assets/css/dorang.css' %}">#}
    <link rel="stylesheet" href="{% static 'movies/css/dorang.css' %}">

</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home" class="dark-theme">

<!-- page navbar -->
<nav class="page-navbar" data-spy="affix" data-offset-top="10">
    <ul class="nav-navbar container">
            <li class="nav-item">
                {% if user.is_authenticated %}
                    <a href="#" class="nav-link" role="button" data-bs-toggle="dropdown"><i class="ti-user"></i>{{ user.username }}</a><a href="{% url 'logout' %}" class="nav-link" role="button" data-bs-toggle="dropdown">Logout</a>
                {% else %}
                <a class="nav-link"  href="{% url 'login' %}" role="button" data-bs-toggle="dropdown">Sign In</a>
                {% endif %}
            </li>

        <li class="nav-item"><a href="{% url 'signup' %}" class="nav-link">Sign Up</a></li>
        <li class="nav-item"><a href="#" class="nav-link"><img style="width: 70%"
                                                               src="{% static "movies/imgs/logo.png" %}"></a></li>
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" text-align="center">Language
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">English</a></li>
                <li><a class="dropdown-item" href="#">Français</a></li>
                <li><a class="dropdown-item" href="#">Deutsch</a></li>
            </ul>
        </a>

        <li class="nav-item search">
            <a href="javascript:void(0)" class="nav-link search-toggle"><i class="ti-search"></i> Search</a>
            <div class="search-wrapper">
                <form>
                    <input type="search" class="form-control" name="" placeholder="hit enter to search">
                </form>
            </div>
        </li>
    </ul>
</nav><!-- end of page navbar -->

{% block content %}

{% endblock %}
<!--footer & pre footer -->

        {#            <div class="col-md-10 col-lg-8 m-auto">#}
        {#                <h6 class="title mb-2">Contact Us</h6>#}
        {#                <p class="mb-5">Feel Free To Drop Us A Line.</p>#}
        {#                <form action="" class="form-group">#}
        {#                    <input type="text" size="50" class="form-control" placeholder="Your Name" required>#}
        {#                    <input type="email" class="form-control" placeholder="Enter Email"requried>#}
        {#                    <textarea name="comment" id="comment" rows="6"   class="form-control" placeholder="Write Something"></textarea>#}
        {#                    <input type="submit" value="Send Message" class="form-control">#}
        {#                </form>#}
        {#            </div>#}

        <!-- footer -->
        <footer class="footer">
            <p class="infos">&copy;
                <script>document.write(new Date().getFullYear())</script>
                , Made with <i class="ti-heart text-danger"></i> by <a href="http://www.devcrud.com"><b>NYRVa</b></a></p>
            <span>|</span>
            <div class="links">

                <link rel="stylesheet"
                      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <a href="#"><a href="https://facebook.com/imdb" class="fa fa-facebook font-icon"></a></a>
                <a href="#"><a href="https://instagram.com/imdb" class="fa fa-instagram font-icon"></a></a>
                <a href="#"><a href="https://youtube.com/imdb/" class="fa fa-youtube font-icon"></a></a>
            </div>
        </footer><!-- end of footer -->

    </div><!-- end of container -->
</div><!-- end of pre footer -->

<!-- core  -->
<script src="{% static 'movies/vendors/jquery/jquery-3.4.1.js' %}"></script>
<script src="{% static 'movies/vendors/bootstrap/bootstrap.bundle.js' %}"></script>

<!-- bootstrap affix -->
<script src="{% static 'movies/vendors/bootstrap/bootstrap.affix.js' %}"></script>

<!-- Dorang js -->
<script src="{% static 'movies/js/dorang.js' %}"></script>

</body>
</html>
